<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datn_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DATN_Project"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.TeaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LunchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MorningSupplementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BreakfastActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PhotoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AlbumActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MeetingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LeaveDayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HealthActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>